[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "==3.2.0"
wheel = "==0.35.1"
pytest = "*"
mypy = "*"
pytype = "*"

[packages]
prance = "==0.19.0"
openapi-spec-validator = "==0.2.9"

[requires]
python_version = "3.8"
